/Users/macadmin/ADSync/Endeavor_ODimport.bat
/Users/macadmin/ADSync/HS_ADimport.bat
/Users/macadmin/ADSync/Lewiston_ODimport.bat
/Users/macadmin/ADSync/MS_ADimport.bat
/Users/macadmin/ADSync/Muir_ADimport.bat
/Users/macadmin/ADSync/PAA_ADimport.bat
/Users/macadmin/ADSync/Rusch_ADimport.bat
/Users/macadmin/ADSync/Students for AD.csv
/Users/macadmin/ADSync/Woodridge_ADimport.bat